<navbar>
  <div class="navbar-wrapper">
    <div class="btn-group" role="group" arialabel="navbar-button">
      <%= link_to "List", cocktails_path, class: "btn btn-medium" %>
      <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-medium" %>
    </div>
  </div>
</navbar>
